<%= form_for(@package_history) do |f| %>
  <% if @package_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_history.errors.count, "error") %> prohibited this package_history from being saved:</h2>

      <ul>
      <% @package_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :package %><br />
    <%= f.text_field :package %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :downloads %><br />
    <%= f.text_field :downloads %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
