<h1>Listing package_histories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Downloads</th>
    <th>Package Type</th>
    <th>Version</th>
    <th>Size</th>
    <th></th>
  </tr>

<% @package_histories.each do |package_history| %>
  <tr>
    <td><%= package_history.title %></td>
    <td><%= package_history.date %></td>
    <td><%= package_history.downloads %></td>
    <td><%= package_history.package_type %></td>
    <td><%= package_history.version %></td>
    <td><%= package_history.size %></td>
    <td><%= link_to 'Show', package_package_history_path(params[:package_id], package_history.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', packages_path %>

