<p id="notice"><%= notice %></p>

<p>
  <b>Package:</b>
  <%= @package_history.package %>
</p>

<p>
  <b>Date:</b>
  <%= @package_history.date %>
</p>

<p>
  <b>Downloads:</b>
  <%= @package_history.downloads %>
</p>


<%= link_to 'Back', package_package_histories_path %>
